/* .App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../src/assests/displaypic.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  
 
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
  
}

.auth-form-container{
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: rgba(180,185, 185, 0.5); 
  backdrop-filter: blur(6px); 
}

label {

text-align: center;
padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  margin-top:5px;
  border-radius: 10px;
  cursor: pointer;
  color: blueviolet;
  width: auto;
  max-width: 200px;
}

.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}

.logo {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 120px; 
  height: auto; 
  z-index: 999; 
}

  


  .user-navbar {
    color: white;
    display: flex;
    align-items: center;
    width: 80%;
    position: fixed;
    top: 0;
    
  }

  .user_button{
    color: black;
    width: 180px;
    font-weight: bold;
    border-radius: 9px;
    flex: 1; 
    margin: 5px; 

  }

  .user_content_table{
  padding: 4rem;
  padding-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: rgba(180, 185, 185, 0.5); 
  backdrop-filter: blur(6px);
  }

  .underline_user_row{
    border-bottom: 2px solid black;
  }


  .main_user_button{
    color: black;
    width: 180px;
    font-weight: bold;
    border-radius: 9px;
    flex: 1; 
    margin: 5px;
    
  }

  .main_user-navbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

  }

  .new_appointment_form{
    padding: 4rem;
    padding-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    background-color: rgba(180, 185, 185, 0.5); 
    backdrop-filter: blur(6px);
    width: 700px;
  }

  .new_appointment_form_row{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center; 
 
  }

  .new_appointment_form_label{
    width: "100%";
    border: 1px solid red;
  }


  .new_appointment_form{
  align-items: center;
  }

  .appointment_textfield{
    width: 700px;
    background-color: transparent;
    border: 1px solid rgb(83, 83, 83);
  }

  .appointment_textfield:hover {
    border-color: black;
}


  
  .appointment_row2 {
    flex: 1; 
    text-align: center; 
  
  }
  
  .appoitment-bottom-button{
    justify-content: space-between;
    display: flex;
  }

  .main_user_button {
    flex: 1; 
    font-size: 14px; 
  }


  .welcome_text{
    color: black;
    font-weight: bold;
  }
  


  .date-picker-container .appointment_textfield {
    width: 153%;
    border-radius: 5px;
  }
  
  .date-picker-container .react-datepicker__triangle,
  .date-picker-container .react-datepicker__header {
    background-color: transparent;
  }



  .profilepage_back{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 60%;
  }
 







  .set_appointment_consultant_btn{
    color: white;
    width: 180px;
    font-weight: bold;
    border-radius: 9px;
    flex: 1; 
    margin: 5px;
    background-color: green;
  }




  .user_content{
    
  }
  
  .cunsultant_appointment_details_edit_delete_row{
    flex-direction: row;
    display: flex;
  }

  .delete_consultant_button{
   width: 90px;
   background-color:red;
   color: white;
   height: 50px;
   margin-left: 5px;
  }

  .edit_consultant_button{
   width: 90px;
   background-color:#0073CF;
   height: 50px;
   color: white;
 
  }

  .edit_delete_consultant{
 margin-left: 10px;
  } */